.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
}

.list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  overflow: auto;
  max-height: calc(100vh - 476px - 80px);
}

.list::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(47, 47, 55, 1);
}

.list::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: rgba(133, 133, 173, 1);
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: rgb(99, 99, 128);
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
