.section {
  display: flex;
  flex-direction: column;
}

.list {
  margin: auto;
  width: 100%;
  list-style-type: none;
  padding: 0;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 32px 24px;
}

.title {
  margin-top: 0;
}
