:root {
  /* Colors */
  --color-background: #131316;
  --color-background-modal: #1C1C21;
  /* Breakpoints*/
  --breakpoint-min-width-s: 320px;
  /* Font family */
  --typography-font-family: 'JetBrains Mono', Arial, sans-serif;
  /* Borders */
  --droppable-border-color: #4C4CFF;
  /* Links */
  --link-color: #4C4CFF;
  /* Input */
  --input-error-color: #FF0000;
  /* Text */
  --text-color-white: #FFF;
}
