.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all .3s ease;
}

.item:hover {
  cursor: pointer;
  opacity: .6;
}

.item:hover .image {
  transform: scale(1.1);
}

.image {
  transition: all .3s ease;
}

.priceContainer {
  display: flex;
  align-items: center;
}

.price {
  margin: 0 8px 0 0;
}
.name {
  text-align: center;
}
