.header {
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-background-modal);
}

.header__container {
  width: 100%;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.header__navItems {
  list-style: none;
  margin: 0 0 0 -20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
}

.header__navItem {
  padding: 16px 8px 16px 0;
}

.header__navItem:last-child {
  padding: 16px 0;
}
